*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head1{
    /* width: 100%; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-attachment: fixed;
    /* position: fixed; */
    /* margin-top: 0;
    padding: 0; */
}
.heading{
    width: 45%;
}

.heading img{
    width: 70%;
    display: flex;
    align-items: center;
   justify-content: center;
    flex-direction: column;
}
.heading3{
    display: flex;
    flex-direction: row;
    
}
.heading1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.img1 {
    
    margin-top: 100px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main1{
    width: 100%px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}
.img1 img {
    width: 100%;
}

.mainimg{
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    background-color: rgb(209, 206, 200);
    align-items: center;
    justify-content: center;
    
}
.img3 {
    background-color: rgb(210, 28, 28);
    /* height: 300px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -144;
    width: 50%;
   margin-right: -114px;
    height: 365px;
   display: flex;
   flex-direction: column;
   color: wheat;

}
.img2{
    background-color: aliceblue;
    position: relative;
    left: 61px;
    padding: 11px;

    

}
.img2 img{
    width: 600px;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: white(186, 169, 169);
    /* position: relative; */
   

}
.img4{
    width: 50%;
    background-color: rgb(8, 152, 152);
    height: 451px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.main2{
    width: 100%px;
    /* height: 60px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    

    
}
.img5{
    
    position: relative;
    left: -57px;
    padding: 17px;
    background-color: white;

}
.img6{
    /* width: 100%; */
    /* height: 500px; */
    background-color: aliceblue;
    position: relative;
    left: 61px;
    padding: 11px;
}
.img6 img{
    width: 600px;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.main3{ display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}
.hov {
    width: 150PX;
    height: 30px;
   
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 30px;
    justify-content: center;
    border: 100px;
    border-color: wheat;
    box-sizing: border-box;
    border: 2px solid wheat;
}

.mk{
    width: 80%;
}
.border{
    border: 2.5 solid red;
}
.border:hover{
   border: 2.5px solid red; 
   background-color: red;
}
.mky{
    color: red;
    font-size: 78px;
    margin-top: -81px;

}